In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('IMDB Dataset.csv.zip')

In [3]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
df=df.sample(100)   #sampled 10000 rows from the data

In [5]:
from sklearn.preprocessing import LabelEncoder

# Create an instance of LabelEncoder
le = LabelEncoder()

df['sentiment'] = le.fit_transform(df['sentiment'])

df

                                                  review  sentiment
20280  I have to agree with most of the other posts. ...          1
38741  I'm grateful for one thing and one thing only ...          0
27703  This movie is like so many biopic TV movies I ...          0
37709  Diane Lane, Mickey Rourke, Rosario Dawson & Th...          0
21668  My mistake for thinking this was a serious war...          0
...                                                  ...        ...
47741  It's one of the best movies I've seen in the l...          1
45079  Basically a typical propaganda film for the la...          0
29129  This jingoist outing concerns the usual battle...          1
13829  As a Czech I am very pleased when I read these...          1
21890  George Zucco was like Boris Karloff in the fac...          0

[100 rows x 2 columns]

In [6]:
'''Text cleaning
1.remove html tags.
2.remove special character.
3.convert everything into the lower case.
4. removing the stop words.
5.stemming'''

'Text cleaning\n1.remove html tags.\n2.remove special character.\n3.convert everything into the lower case.\n4. removing the stop words.\n5.stemming'

In [7]:
df.shape

(100, 2)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 20280 to 21890
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     100 non-null    object
 1   sentiment  100 non-null    int32
dtypes: int32(1), object(1)
memory usage: 2.0+ KB

In [9]:
df['review'].values[0]

"I have to agree with most of the other posts. Was it a comedy? a drama? to me it leaned a little to much towards the comedy side. I could have been a great movie without the comedy and it was horribly contrived. Jamie keeps running into the Julio and whats his name. In New York, how many times do you run into someone you know in downtown Cleveland.And just how could Robert Pastorelli dig up Yankee Stadium to hide the gold. Again, a comedy or drama? But it was still entertaining especially for a Sunday morning. I enjoyed Kimberly Elise's performance, she certainly a beautiful actress and seems to take her craft seriously. She is a younger actress that is going to be viable."

In [10]:
import re

In [11]:
# Function to remove the html tags
def clean_html(text):
    clean=re.compile('<br /><br />')
    return re.sub(clean,'',text)

In [12]:
df['review']=df['review'].apply(clean_html)

In [13]:
df['review'].values[0]

"I have to agree with most of the other posts. Was it a comedy? a drama? to me it leaned a little to much towards the comedy side. I could have been a great movie without the comedy and it was horribly contrived. Jamie keeps running into the Julio and whats his name. In New York, how many times do you run into someone you know in downtown Cleveland.And just how could Robert Pastorelli dig up Yankee Stadium to hide the gold. Again, a comedy or drama? But it was still entertaining especially for a Sunday morning. I enjoyed Kimberly Elise's performance, she certainly a beautiful actress and seems to take her craft seriously. She is a younger actress that is going to be viable."

In [14]:
# Function to make everything into the lower case
def convert_lower(text):
    return text.lower()

In [15]:
df['review']=df['review'].apply(convert_lower)

In [16]:
df['review'].values[0]

"i have to agree with most of the other posts. was it a comedy? a drama? to me it leaned a little to much towards the comedy side. i could have been a great movie without the comedy and it was horribly contrived. jamie keeps running into the julio and whats his name. in new york, how many times do you run into someone you know in downtown cleveland.and just how could robert pastorelli dig up yankee stadium to hide the gold. again, a comedy or drama? but it was still entertaining especially for a sunday morning. i enjoyed kimberly elise's performance, she certainly a beautiful actress and seems to take her craft seriously. she is a younger actress that is going to be viable."

In [17]:
# Function to remove the special character
def remove_special(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+ ' '
    return x

In [18]:
df['review']=df['review'].apply(remove_special)

In [19]:
df['review'].values[0]

'i have to agree with most of the other posts  was it a comedy  a drama  to me it leaned a little to much towards the comedy side  i could have been a great movie without the comedy and it was horribly contrived  jamie keeps running into the julio and whats his name  in new york  how many times do you run into someone you know in downtown cleveland and just how could robert pastorelli dig up yankee stadium to hide the gold  again  a comedy or drama  but it was still entertaining especially for a sunday morning  i enjoyed kimberly elise s performance  she certainly a beautiful actress and seems to take her craft seriously  she is a younger actress that is going to be viable '

In [20]:
# to remove stop words
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('stopwords')
nltk.download('punkt')

def remove_stopwrods(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

[nltk_data] Downloading package stopwords to C:\Users\Ashish Kumar
[nltk_data]     Singh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Ashish Kumar
[nltk_data]     Singh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [21]:
df['review']=df['review'].apply(remove_stopwrods)

In [22]:
df

                                                  review  sentiment
20280  [agree, posts, comedy, drama, leaned, little, ...          1
38741  [grateful, one, thing, one, thing, woman, thou...          0
27703  [movie, like, many, biopic, tv, movies, seen, ...          0
37709  [diane, lane, mickey, rourke, rosario, dawson,...          0
21668  [mistake, thinking, serious, war, hell, movie,...          0
...                                                  ...        ...
47741  [one, best, movies, seen, last, 2, years, seen...          1
45079  [basically, typical, propaganda, film, last, g...          0
29129  [jingoist, outing, concerns, usual, battle, ho...          1
13829  [czech, pleased, read, comments, absolutely, s...          1
21890  [george, zucco, like, boris, karloff, fact, ma...          0

[100 rows x 2 columns]

In [23]:
# perform stemming
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
ps=PorterStemmer()
y=[]
def perform_stemming(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [24]:
df['review']=df['review'].apply(perform_stemming)

In [25]:
# join back
def join_back(list_input):
    return " ".join(list_input)

In [26]:
df['review']=df['review'].apply(join_back)

In [27]:
df

                                                  review  sentiment
20280  agre post comedi drama lean littl much toward ...          1
38741  grate one thing one thing woman thousand mile ...          0
27703  movi like mani biopic tv movi seen formula exa...          0
37709  dian lane mickey rourk rosario dawson thoma ja...          0
21668  mistak think seriou war hell movi prior see en...          0
...                                                  ...        ...
47741  one best movi seen last 2 year seen premier te...          1
45079  basic typic propaganda film last good war coup...          0
29129  jingoist outing concern usual battl holm vs mo...          1
13829  czech pleas read comment absolut sure film gre...          1
21890  georg zucco like bori karloff fact matter poor...          0

[100 rows x 2 columns]

In [165]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [166]:
X=cv.fit_transform(df['review']).toarray()

In [167]:
X.shape

(100, 3772)

In [168]:
X[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [169]:
df

                                                  review  sentiment
20280  agre post comedi drama lean littl much toward ...          1
38741  grate one thing one thing woman thousand mile ...          0
27703  movi like mani biopic tv movi seen formula exa...          0
37709  dian lane mickey rourk rosario dawson thoma ja...          0
21668  mistak think seriou war hell movi prior see en...          0
...                                                  ...        ...
47741  one best movi seen last 2 year seen premier te...          1
45079  basic typic propaganda film last good war coup...          0
29129  jingoist outing concern usual battl holm vs mo...          1
13829  czech pleas read comment absolut sure film gre...          1
21890  georg zucco like bori karloff fact matter poor...          0

[100 rows x 2 columns]

In [170]:
y=df.iloc[:,-1].values

In [171]:
y.shape

(100,)

In [172]:
# split the data into the trian test split

In [173]:
from sklearn.model_selection import train_test_split

In [174]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [175]:
print(X_train.shape,y_train.shape,y_test.shape,X_test.shape)

(80, 3772) (80,) (20,) (20, 3772)

In [176]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [177]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [178]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [179]:
y_p1=clf1.predict(X_test)
y_p2=clf2.predict(X_test)
y_p3=clf3.predict(X_test)

In [180]:
from sklearn.metrics import accuracy_score

In [181]:
print('binomail:',accuracy_score(y_test,y_p1))
print('Multinomail:',accuracy_score(y_test,y_p2))
print('Bernaulli:',accuracy_score(y_test,y_p3))

binomail: 0.75
Multinomail: 0.85
Bernaulli: 0.85

In [182]:
for i in range(len(y_test)):
    print(y_p2[i],y_test[i])

0 0
0 0
0 0
1 1
0 0
0 1
1 1
1 1
0 0
0 0
0 0
1 0
0 0
0 0
1 1
0 1
0 0
1 1
1 1
0 0